


<div class="navbar navbar-inverse navbar-fixed-top" style="position: static;" id="top-bar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">LocalSpotted</a>
                  <div class="nav-collapse collapse navbar-inverse-collapse">
                  
                   
                    <ul class="nav pull-right">
                      
                      <% if user_signed_in? %>
                          <li>
                          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
                          </li>
                        <% else %>
                          <li>
                          <%= link_to('Login', new_user_session_path)  %>  
                          </li>
                        <% end %>
                      
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>